/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

:root{
    --color-blue: #08A6E4;
    --color-red: #FB3B64;
    --color-green: #55DFB4;
    --color-gray: gray;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1352px;
    margin: 0 auto;
    padding: 0 15px;
}


/* HEADER */

.page-header{
    height: 70px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    top: 0;
    position: sticky;
    z-index: 9999;
}
.page-header .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-logo{ 
    font: 300 32px Raleway, sans-serif;
    color: var(--color-blue);
    text-decoration: none;
}
.page-logo:hover{ 
    color: rgb(159, 210, 255);
    transition: 0.25s ease;  
}

.page-menu__list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.page-menu__el{
    margin: 0 35px;

}
.page-menu__link{
    height: 70px;
    display: flex;
    align-items: center;
    font: bold 11px "Open Sans", sans-serif;
    text-decoration: none;
    letter-spacing: 3.28px;
    padding: 0 10px;
    color: #A5A5A5;
}
.page-menu__link.is-active{
    box-shadow: inset 0 -5px 0 var(--color-blue);
    color: #000;
}
.page-menu__link:hover{
    color: rgb(134, 134, 134);;
    box-shadow: inset 0 0 8px rgba(216, 216, 216, 0.856);
    transition: 0.1s;
}

/* banner */

.banner{
    background-image: url(../assets/Background.png);
    background-position: center bottom;
    background-size: 1800px auto;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 800px;
    max-height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner__title{
    font: 49px "Raleway", sans-serif;
    margin: -400px 0 -3px;
}

.banner__text{
    padding: 13px 0;
}

.banner__link{
    max-width: 440px;
    height: 67px;
    width: 100%;
    background: var(--color-blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: 5px 10px 14px rgba(7,172,230,0.16);
}

.banner__link:hover{
    background-color: rgb(147, 190, 255);
    transition: 0.2s background;
}

.btn{
    background: var(--color-blue);
    height: 67px;
    padding: 0 20px;
    min-width: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: 5px 10px 14px rgba(7,172,230,0.16);
    transition: 0.6s background;
}

/* advantages */

.section-advantages{
    padding: 110px 0;
}

.section-title{
    font-size: 42px;
    font-weight: normal;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.advantages{
    max-width: 800px;
    margin: 110px auto 0;
    display: flex;
    justify-content: space-between;
}
.advantages__el{
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.advantages__icon{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: var(--color-red);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
}

.advantages__icon svg{
    margin-left: 75%;
    flex-shrink: 0;
}

.advantages__icon--red{
    background-color: var(--color-red);
}
.advantages__icon--green{
    background-color: var(--color-green);
}
.advantages__icon--blue{
    background-color: var(--color-blue);
}

.advantages__number{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 5.96px;
    font-weight: 900px;
    justify-content: center;
    text-align: center;
}
.advantages__text{
    color: var(--color-gray);
}


/* section slides */

.slides{
    background: #f7f7f7;
    margin-top: 68px;
    padding: 68px 0;
}

.box{
    max-width: 1124px;
    margin: 37px 251px 37px;
    background: #fff;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    min-height: 370px;
    justify-content: space-between;
}

.box--second{
    flex-direction: row-reverse;
}

.box_content{
    padding: 35px;
    width: 416px;
    height: 188px;
}

.box__title{
    text-align: left;
    font-size: 36px;
    max-width: 300px;
}

.box__text{
    margin: 30px 0 50px;
    max-width: 415px;
    font-size: 16px;
}

.box__line{
    width: 328px;
    height: 4px;
    background: #666;
    margin-left: 0;
}

.box__graphic{
    width: 430px;
    display: flex;
    align-items: center;
    position: relative;
}

.box__graphic-img{
    max-width: 385px;
    position: relative;
    z-index: 1;
}

.box__graphic-bg{
    width: 180px;
    height: 180px;
    border-radius: 40px;
    background: var(--color-red);
    transform: rotate(45deg);
    position: absolute;
    z-index: 0;
    right: 40px;
    top: 30px;
}


.box--first .box__text{
    width: 416px;
    height: 66px;
}
.box--first .box__line,
.box--first .box__graphic-bg{
    background: var(--color-red);
}


.box--second .box__line,
.box--second .box__graphic-bg{
    background: var(--color-blue);
}
.box--second .box__graphic-bg{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    right: auto;
    left: 70px;
    top: 12px;
}
.box--second .box__graphic-img{
    max-width: 420px;
    left: 70px;
}
.box--second .box__text{
    width: 416px;
    height: 66px;
}


.box--third{
    background: none;
    border: 0;
}
.box--third .box__content{
    width: 416px;
    height: 340px;
}
.box--third .box__title{
    max-width: 348px;
}
.box--third .box__text{
    max-width: 483px;
}
.box--third .box__line,
.box--third .box__graphic-bg{
    background: var(--color-green);
}
.box--third .box__content{
    background: #fff;
    border: 1px solid #E8E9ED;
    flex-grow: 1;
    margin-right: 37px;
    padding: 30px 0 0 35px;
}
.box--third .box__graphic{
    background: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.box--third .box__graphic-img{
    margin-top: 100px;
    max-width: 315px;
}


/* plans & pricing */


.section-pricing {
    background-color: #fff;
    padding-bottom: 90px;
    padding: 0 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__title {
    margin: 100px 0 20px;

}

.pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1266px;
    height: 616px;
    
}

.pricing__el {
    margin: 0 30px;
    padding-top: 34px;
    width: 405px;
    height: 500px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pricing--first.pricing__el {
    border: 1px var(--color-red) solid;
    width: 372px;
    height: 461px;
}

.pricing__el .pricing__el-price {
    font-size: 46px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
    margin-top: 14px;
    height: 64px;
    width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing--first .pricing__el-button {
    background: var(--color-red);
    height: 50px;
    width: 150px;
}

.pricing--first .pricing__el-price {
    color: var(--color-red);
}

.pricing--second {
    border: 1px var(--color-blue) solid;
    box-shadow: 0px 10px 20px 5px rgba(7, 171, 230, 0.288);
}

.pricing--second .pricing__el-button {
    background: var(--color-blue);
    height: 50px;
    width: 150px;
}

.pricing--second .pricing__el-price {
    color: var(--color-blue);
}

.pricing--third {
    border: 1px var(--color-green) solid;
    width: 372px;
    height: 461px;
}

.pricing--third .pricing__el-button {
    background: var(--color-green);
    height: 50px;
    width: 150px;
}

.pricing--third .pricing__el-price {
    color: var(--color-green);
}

.pricing__el .pricing__el-title {
    font: Bold 21px "Raleway";
    margin: 0;
}

#limitedOffer {
    font: bold 12px "Raleway";
}

.pricing__el__list {
    margin-top: 40px;
    list-style-image: url(/assets/Ckechmark-1.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.pricing--first .pricing__el__list .pricing__el__list-li:nth-last-of-type(1),
.pricing--first .pricing__el__list .pricing__el__list-li:nth-last-of-type(2) {
    list-style-image: url(/assets/Close.svg);
}

.pricing--second .pricing__el__list .pricing__el__list-li-2:nth-last-of-type(1) {
    list-style-image: url(/assets/Close.svg);
}

.pricing__el__list-li {
    margin-top: 25px;
}

.pricing__el__list-li-2{
    margin-top: 30px;
}

.pricing__el .pricing__el-button.btn {
    position: absolute;
    bottom: -25px;
}

.pricing__el:not(.pricing--second) .pricing__el-button {
    box-shadow: none;
}

.pricing__el .pricing__el-button .pricing__el-link {
    color: #fff;
    text-decoration: none;
}


/*  form   */








